.progress-bar {
    position: relative;
    display: inline-block;

    width: 75%;
    height: 15px;

    background-color: lightGray;
    border-radius: 2px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.25) inset;
}

.progress-bar > div {
  display: block;

  background-color: gray;
  border-radius: 2px;

  text-indent: -9999px;
}